input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li input {
  margin-right: 10px;
}

li button {
  margin-left: 10px;
}
